@import "../base/colors";
@import '../base/fonts';

/* ******* PHARVARIS HCP 2024 BUTTONS START ******* */

body.pharvaris {
    button,
    .pv-btn,
    .btn {
        @include pv-btn();
    }
    a#edgtf-back-to-top {
        width: 40px;
        right: 5.5%;
        bottom: 77px;
        & > span {
            position: relative;
            display: block;
            width: 40px;
            height: 40px;
            line-height: 35px;
            font-size: 15px;
            text-align: center;
            color: $white;
            background-color: $yellow;
            border: 3px solid $white;
            border-radius: 40px;
            transition: all 0.75s ease-in-out;
        }
        span.edgtf-icon-stack {
            width: 40px;
        }
    }
    div.pv-cta-row {
        z-index: 200;
        div#stay-informed-cta {
            position: relative;
            div.cta-container {
                width:100%;
                height:40vw;
                margin:0 auto;
                border:none;
                position: absolute;
                a.cta-hero-button {
                    transform-origin:top right;
                    right:0;
                    top:60%;
                    transform: rotate(90deg) translateX(50%);
                    position: absolute;
                    width: 185px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    height: 53px;
                    padding: 0;
                    border-radius: 0 0 10px 10px;
                    background: $blue;
                    color: $white !important;
                    @include bold($poppins);
                    font-size: 18px;
                    line-height: 18px;
                    border: 1px solid $blue;
                    transition: all 0.25s;
                    &:hover {
                        background: $white;
                        color: $blue !important;
                        border: 1px solid $blue;
                        transition: all 0.5s;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1500px) {
    body.pharvaris {
        a#edgtf-back-to-top {
            width: 40px;
            right: 4%;
            bottom: 77px;
            & > span {
                width: 40px;
                height: 40px;
                line-height: 35px;
                font-size: 15px;
            }
            span.edgtf-icon-stack {
                width: 40px;
            }
        }
        div.pv-cta-row {
            div#stay-informed-cta {
                div.cta-container {
                }
            }
        }

    }
}
@media all and (max-width: 1300px) {
    body.pharvaris {
        a#edgtf-back-to-top {
            width: 40px;
            right: 3.5%;
            bottom: 77px;
            & > span {
                width: 40px;
                height: 40px;
                line-height: 35px;
                font-size: 15px;
            }
            span.edgtf-icon-stack {
                width: 40px;
            }
        }
        div.pv-cta-row {
            div#stay-informed-cta {
                div.cta-container {
                    a.cta-hero-button {
                    }
                }
            }
        }

    }
}
@media all and (max-width: 1024px) {
    body.pharvaris {
        a#edgtf-back-to-top {
            & > span {
            }
            span.edgtf-icon-stack {
            }
        }
        div.pv-cta-row {
            div#stay-informed-cta {
                div.cta-container {
                    a.cta-hero-button {
                    }
                }
            }
        }

    }
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* PHARVARIS HCP 2024 BUTTONS END ******* */