@import "../base/colors";
@import '../base/fonts';

/* ******* PHARVARIS HCP 2024 CAROUSEL START ******* */

.owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent !important;
    color: #FFF;
    text-decoration: none;
}

div.owl-nav {
    display: flex;
    position: absolute;
    border: none;
    width: 100vw;
    height: 100%;
    top: 0;
    button.owl-next,
    button.owl-prev {
        height: 105px;
        width: 50vw;
        padding: 0 !important;
        margin: 0 !important;
        display: flex !important;
        border: none  !important;
        position: absolute;
        top: calc(100vw / 1.695);
        left: 0;
    }
    button.owl-next {
        right: 0;
        left: unset;
    }
    .owl-prev::before {
        color: #fff;
        padding: 0;
        top: -14px;
        position: relative;
        left: calc(100vw / 35 * -4);
    }
    .owl-next::before {
        color: #fff;
        padding: 0;
        top: -14px;
        position: relative;
        right: calc(100vw / 35 * -4);
    }
}



@media all and (max-width: 1024px) {
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* PHARVARIS HCP 2024 CAROUSEL END ******* */