@import "../base/colors";
@import '../base/fonts';

/* ******* PHARVARIS HCP 2024 HOTSPOTS START ******* */
body.pharvaris {
    div#hotspot-grid {

    }
}

div.pv-woman-hotspot {
    display: flex;
    justify-content: center;
    img.ult_hotspot_image {
    }
}
.aio-icon-img {
    font-size: 80px !important;
}
div.pv-hotspot-wrapper {

}
div.ult-tooltipster-base {
    width: 430px !important;
    max-width: 100% !important;
    margin: 0 auto;
}
.ult_hotspot_container .utl-hotspot-items .ult-hotspot-item .ult-glow {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #e9b73f;
}
div#hotspot-tooltip-hs-one {
    height: 214px;
    div.ult-tooltipster-content.ult-responsive {
        div#pv-hotspot-1 {
            div.pv-hotspot-box-wrapper {
                ul.pv-hotspot-list {
                    max-width: 100%;
                    margin-bottom: 0;
                    height: 100%;
                    li {

                    }
                }
            }

        }
    }
}
div#hotspot-tooltip-hs-two {
    height: 277px;
    div.ult-tooltipster-content.ult-responsive {
        div#pv-hotspot-2 {
            div.pv-hotspot-box-wrapper {
                ul.pv-hotspot-list {
                    max-width: 100%;
                    margin-bottom: 0;
                    height: 100%;
                    li {

                    }
                }
            }
        }
    }
}
div#hotspot-tooltip-hs-three {
    height: 214px;
    div.ult-tooltipster-content.ult-responsive {
        div#pv-hotspot-3 {
            div.pv-hotspot-box-wrapper {
                ul.pv-hotspot-list {
                    max-width: 100%;
                    margin-bottom: 0;
                    height: 100%;
                    li {

                    }
                }
            }
        }
    }
}
div#hotspot-tooltip-hs-four {
    height: 256px;
    div.ult-tooltipster-content.ult-responsive {
        div#pv-hotspot-4 {
            div.pv-hotspot-box-wrapper {
                div.pv-hotspot-box-wrapper {
                    ul.pv-hotspot-list {
                    max-width: 100%;
                    margin-bottom: 0;
                    height: 100%;
                        li {

                        }
                    }
                }
            }
        }
    }
}
div#hotspot-tooltip-hs-five {
    height: 275px;
    div.ult-tooltipster-content.ult-responsive {
            div#pv-hotspot-5 {
            div.pv-hotspot-box-wrapper {
                div.pv-hotspot-box-wrapper {
                    ul.pv-hotspot-list {
                    max-width: 100%;
                    margin-bottom: 0;
                    height: 100%;
                        li {

                        }
                    }
                }
            }
        }
    }
}
div#hotspot-tooltip-hs-six {
    height: 275px;
    div.ult-tooltipster-content.ult-responsive {
        div#pv-hotspot-6 {
            div.pv-hotspot-box-wrapper {
                div.pv-hotspot-box-wrapper {
                    ul.pv-hotspot-list {
                        max-width: 100%;
                        margin-bottom: 0;
                        height: 100%;
                            li {

                            }
                    }
                }
            }
        }
    }
}
div.ult-tooltipster-content {
    padding: 0 !important;
    p {
        margin: 0;
    }
    div.pv-hotspot-box {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-size: contain;
        background-repeat: no-repeat;
        width: auto;
        position: relative;
        margin-top: 10px;
        div.pv-hotspot-box-wrapper {
            padding-top: 3px;
            position: relative;
            h3.pv-h3.tip-title {
                @include bold($poppins);
                color: $red;
                text-transform: uppercase;
                text-align: left;
            }
        }
    }
}


@media all and (max-width: 1024px) {

    body.pharvaris {
    div#hotspot-grid {
        display: block;
        margin-left: 15%;
        margin-right: 15%;
    }
}

div.pv-woman-hotspot {
    display: flex;
    justify-content: center;

    img.ult_hotspot_image {
    }
}
.aio-icon-img {
    font-size: 80px !important;
}
div.pv-hotspot-wrapper {

}
div.ult-tooltipster-base {
    width: 100% !important;
    max-width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    left: 0 !important;
}
.ult_hotspot_container .utl-hotspot-items .ult-hotspot-item .ult-glow {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #e9b73f;
}
div#hotspot-tooltip-hs-one {
    height: 214px;
    div.ult-tooltipster-content.ult-responsive {
        div#pv-hotspot-1 {
            width: 502px;
            height: 312px;
            background-image: url("/wp-content/themes/conall-child/images/tip-bubble-502x313.png");
            padding: 14% 0 8% 7%;
            div.pv-hotspot-box-wrapper {

                ul.pv-hotspot-list {
                    max-width: 100%;
                    margin-bottom: 0;
                    height: 100%;
                    li {

                    }
                }
            }

        }
    }
}
div#hotspot-tooltip-hs-two {
    height: 277px;
    div.ult-tooltipster-content.ult-responsive {
        div#pv-hotspot-2 {
            div.pv-hotspot-box-wrapper {
                ul.pv-hotspot-list {
                    max-width: 100%;
                    margin-bottom: 0;
                    height: 100%;
                    li {

                    }
                }
            }
        }
    }
}
div#hotspot-tooltip-hs-three {
    height: 214px;
    div.ult-tooltipster-content.ult-responsive {
        div#pv-hotspot-3 {
            div.pv-hotspot-box-wrapper {
                ul.pv-hotspot-list {
                    max-width: 100%;
                    margin-bottom: 0;
                    height: 100%;
                    li {

                    }
                }
            }
        }
    }
}
div#hotspot-tooltip-hs-four {
    height: 256px;
    div.ult-tooltipster-content.ult-responsive {
        div#pv-hotspot-4 {
            width: 502px;
            height: 312px;
            background-image: url("/wp-content/themes/conall-child/images/tip-bubble-502x313.png");
            padding: 14% 0 8% 7%;
            div.pv-hotspot-box-wrapper {
                div.pv-hotspot-box-wrapper {
                    ul.pv-hotspot-list {
                    max-width: 100%;
                    margin-bottom: 0;
                    height: 100%;
                        li {

                        }
                    }
                }
            }
        }
    }
}
div#hotspot-tooltip-hs-five {
    height: 275px;
    div.ult-tooltipster-content.ult-responsive {
            div#pv-hotspot-5 {
            width: 502px;
            height: 383px;
            background-image: url("/wp-content/themes/conall-child/images/tip-bubble-502x384.png");
            padding: 14% 3% 8% 7%;
            div.pv-hotspot-box-wrapper {
                div.pv-hotspot-box-wrapper {
                    ul.pv-hotspot-list {
                    max-width: 100%;
                    margin-bottom: 0;
                    height: 100%;
                        li {

                        }
                    }
                }
            }
        }
    }
}
div#hotspot-tooltip-hs-six {
    height: 275px;
    div.ult-tooltipster-content.ult-responsive {
        div#pv-hotspot-6 {
            div.pv-hotspot-box-wrapper {
                div.pv-hotspot-box-wrapper {
                    ul.pv-hotspot-list {
                        max-width: 100%;
                        margin-bottom: 0;
                        height: 100%;
                            li {

                            }
                    }
                }
            }
        }
    }
}
div.ult-tooltipster-content {
    padding: 0 !important;
    p {
        margin: 0;
    }
    div.pv-hotspot-box {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        margin-top: 0;
        background: transparent;
        border: none;
        padding: 8%;
        div.pv-hotspot-box-wrapper {
            padding-top: 3px;
            position: relative;
            h3.pv-h3tip-title {
                sup.pv-sup {

                }
            }
            ul.pv-list.hotspot {
                li.pv-list-item.hotspot {
                    br.line-break {
                        display: none ;
                    }
                }
            }
        }
    }
}
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* PHARVARIS HCP 2024 HOTSPOTS END ******* */