@import "../base/colors";
@import '../base/fonts';

/* ******* PHARVARIS HCP 2024 HOTSPOTS START ******* */
body.pharvaris {
    div#hotspot-grid {

    }
}

div.pv-woman-hotspot {
    display: flex;
    justify-content: center;
    &.tablet {
        display: none;
    }
    img.ult_hotspot_image {
    }
}
.aio-icon-img {
    font-size: 80px !important;
}
div.pv-hotspot-wrapper {

}
div.ult-tooltipster-base {
    width: 430px !important;
    max-width: 100% !important;
    margin: 0 auto;
}
.ult_hotspot_container .utl-hotspot-items .ult-hotspot-item .ult-glow {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #e9b73f;
}

div#hotspot-tooltip-hs-one {
    height: 190px;
    left: 200px !important;
    margin-top: 22px;
    width: calc(68vw - 557px) !important;
    max-width: 560px !important;
    div.ult-tooltipster-content.ult-responsive {
        div#pv-hotspot-1 {
            div.pv-hotspot-box-wrapper {
                ul.pv-hotspot-list {
                    max-width: 100%;
                    margin-bottom: 0;
                    height: 100%;
                    li {

                    }
                }
            }

        }
    }
}
/* div#hotspot-tooltip-hs-one:after {
    content: "";
    border: 1px solid $dk-grey;
    width: calc(50vw - 494px);
    position: absolute;
    top: 25px;
    left: 228px;
    max-width: 450px;
} */
div#hotspot-tooltip-hs-two {
    height: 185px;
    left: 200px !important;
    margin-top: 21px;
    width: calc(68vw - 540px) !important;
    max-width: 600px !important;
    div.ult-tooltipster-content.ult-responsive {
        div#pv-hotspot-2 {
            div.pv-hotspot-box-wrapper {
                ul.pv-hotspot-list {
                    max-width: 100%;
                    margin-bottom: 0;
                    height: 100%;
                    li {

                    }
                }
            }
        }
    }
}
/* div#hotspot-tooltip-hs-two:after {
    content: "";
    border: 1px solid $dk-grey;
    position: absolute;
    top: 25px;
    width: calc(50vw - 420px);
    left: 103px;
    max-width: 500px;
} */
div#hotspot-tooltip-hs-three {
    height: 140px;
    left: 200px !important;
    margin-top: -2px;
    width: calc(68vw - 540px) !important;
    max-width: 523px !important;
    div.ult-tooltipster-content.ult-responsive {
        div#pv-hotspot-3 {
            div.pv-hotspot-box-wrapper {
                ul.pv-hotspot-list {
                    max-width: 100%;
                    margin-bottom: 0;
                    height: 100%;
                    li {

                    }
                }
            }
        }
    }
}
/* div#hotspot-tooltip-hs-three:after {
    content: "";
    border: 1px solid $dk-grey;
    position: absolute;
    top: 25px;
    width: calc(50vw - 440px);
    left: 68px;
    max-width: 456px;
} */
div#hotspot-tooltip-hs-four {
     left: unset !important;
    right: 5% !important;
    height: 170px;
    margin-top: 14px;
    width: calc(50vw - 402px) !important;
    max-width: 554px !important;
    div.ult-tooltipster-content.ult-responsive {
        div#pv-hotspot-4 {
            flex-direction: row;
            div.pv-hotspot-box-wrapper.left {
                width: 25%;
            }
            div.pv-hotspot-box-wrapper.right {
                width: 75%;
            }
            div.pv-hotspot-box-wrapper {

                div.pv-hotspot-box-wrapper {
                    ul.pv-hotspot-list {
                    max-width: 100%;
                    margin-bottom: 0;
                    height: 100%;
                        li {

                        }
                    }
                }
            }
        }
    }
}
/* div#hotspot-tooltip-hs-four:after {
    content: "";
    border: 1px solid $dk-grey;
    position: absolute;
    top: 25px;
    width: calc(50vw - 440px);
    left: 68px;
    max-width: 456px;
} */
div#hotspot-tooltip-hs-five {
    height: 275px;
    left: unset !important;
    right: 5% !important;
    div.ult-tooltipster-content.ult-responsive {
            div#pv-hotspot-5 {
            div.pv-hotspot-box-wrapper {
                div.pv-hotspot-box-wrapper {
                    ul.pv-hotspot-list {
                    max-width: 100%;
                    margin-bottom: 0;
                    height: 100%;
                        li {

                        }
                    }
                }
            }
        }
    }
}
div#hotspot-tooltip-hs-six {
    height: 275px;
     left: unset !important;
    right: 5% !important;
    div.ult-tooltipster-content.ult-responsive {
        div#pv-hotspot-6 {
            div.pv-hotspot-box-wrapper {
                div.pv-hotspot-box-wrapper {
                    ul.pv-hotspot-list {
                        max-width: 100%;
                        margin-bottom: 0;
                        height: 100%;
                            li {

                            }
                    }
                }
            }
        }
    }
}
div.ult-tooltipster-content {
    padding: 0 !important;
    p {
        margin: 0;
    }
    div.pv-hotspot-box {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-size: contain;
        background-repeat: no-repeat;
        width: auto;
        position: relative;
        margin-top: 10px;
        div.pv-hotspot-box-wrapper {
            padding-top: 3px;
            position: relative;
            h3.pv-h3.tip-title {
                @include bold($poppins);
                color: $red;
                font-size: 26px;
                line-height: 26px;
                text-transform: uppercase;
                text-align: left;
            }
        }
    }
}

div.tooltip-close {
    cursor: pointer;
}

div#show-all-tips {
    display: none;
    width: 100%;
    flex-direction: column;
    transform: unset !important;
    height: 100%;
    div.wpb_wrapper {
        div.all-tooltips {
            div.tips-row {
                div.tipsbox {
                    div.pv-hotspot-box-wrapper {
                        max-width: 400px;
                        h3.pv-h3.ult-glow {
                            sup.pv-sup {

                            }
                        }
                        ul.pv-list.hotspot {
                            li.pv-list-item.hotspot {

                            }
                        }
                    }
                }
            }
            div#all-tips-row-1 {
                div#tips-box-1 {

                }
                div#tips-box-4 {

                }
            }
            div#all-tips-row-2 {
                div#tips-box-2 {

                }
                div#tips-box-5 {

                }
            }
            div#all-tips-row-3 {
                div#tips-box-3 {

                }
                div#tips-box-4 {

                }
            }
        }
    }
}


@media all and (max-width: 1024px) {

    body.pharvaris {
        div#hotspot-grid {
            display: block;
            margin-left: 15%;
            margin-right: 15%;
        }
    }
    div.pv-woman-hotspot {
        display: none;

        &.tablet {
            display: flex;
            justify-content: center;
        }
        img.ult_hotspot_image {
        }
    }
    .aio-icon-img {
        font-size: 80px !important;
    }
    div.pv-hotspot-wrapper {
    }
    div.ult-tooltipster-base {
        width: 100% !important;
        max-width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        left: 0 !important;
    }
    .ult_hotspot_container .utl-hotspot-items .ult-hotspot-item .ult-glow {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #e9b73f;
    }
    div#hotspot-tooltip-hs-one {
        height: 275px;
        width: 100% !important;
        left: 0 !important;
        max-width: 100% !important;
        transform: translate(0, -122px);
        top: 1102px !important;
        div.ult-tooltipster-content.ult-responsive {
            div#pv-hotspot-1 {
                width: 502px;
                height: 314px;
                background-image: url("/wp-content/themes/conall-child/images/chat-box.png");
                padding: 5% 0 8% 7%;
                /* margin-top: 236px; */
                background-repeat: no-repeat;
                div.pv-hotspot-box-wrapper {
                    a.tooltip-close {
                        img.tooltip-close-x {

                        }
                    }
                    ul.pv-hotspot-list {
                        max-width: 100%;
                        margin-bottom: 0;
                        height: 100%;
                        li {

                        }
                    }
                }

            }
        }
    }
    div#hotspot-tooltip-hs-two {
        height: 275px;
        width: 100% !important;
        left: 0 !important;
        max-width: 100% !important;
        transform: translate(0, -122px);
        top: 1402px !important;
        div.ult-tooltipster-content.ult-responsive {
            div#pv-hotspot-2 {
                width: 502px;
                height: 314px;
                background-image: url("/wp-content/themes/conall-child/images/chat-box.png");
                padding: 5% 0 8% 7%;
                /* margin-top: 160px; */
                background-repeat: no-repeat;
                div.pv-hotspot-box-wrapper {
                    a.tooltip-close {
                        img.tooltip-close-x {

                        }
                    }
                    ul.pv-hotspot-list {
                        max-width: 100%;
                        margin-bottom: 0;
                        height: 100%;
                        li {

                        }
                    }
                }
            }
        }
    }
    div#hotspot-tooltip-hs-three {
        width: 100% !important;
        height: 275px;
        left: 0 !important;
        max-width: 100% !important;
        transform: translate(0, -143px);
        top: 1709px !important;
        div.ult-tooltipster-content.ult-responsive {
            div#pv-hotspot-3 {
                width: 502px;
                height: 264px;
                background-image: url("/wp-content/themes/conall-child/images/chat-box.png");
                padding: 5% 0 8% 7%;
                /* margin-top: 140px; */
                background-repeat: no-repeat;
                div.pv-hotspot-box-wrapper {
                    a.tooltip-close {
                        img.tooltip-close-x {

                        }
                    }
                    ul.pv-hotspot-list {
                        max-width: 100%;
                        margin-bottom: 0;
                        height: 100%;
                        li {

                        }
                    }
                }
            }
        }
    }
    div#hotspot-tooltip-hs-four {
        width: 100% !important;
        height: 275px;
        left: 0 !important;
        max-width: 100% !important;
        transform: translate(0, -122px);
        top: 1102px !important;
        div.ult-tooltipster-content.ult-responsive {
            div#pv-hotspot-4 {
                width: 502px;
                height: 314px;
                background-image: url("/wp-content/themes/conall-child/images/chat-box.png");
                padding: 4% 0 8% 7%;
                /* margin-top: 236px; */
                background-repeat: no-repeat;
                div.pv-hotspot-box-wrapper {
                    a.tooltip-close {
                        img.tooltip-close-x {

                        }
                    }
                    ul.pv-hotspot-list {
                    max-width: 100%;
                    margin-bottom: 0;
                    height: 100%;
                        li {

                        }
                    }
                }
            }
        }
    }
    div#hotspot-tooltip-hs-five {
        width: 100% !important;
        height: 275px;
        left: 0 !important;
        max-width: 100% !important;
        transform: translate(0, -61px);
        top: 1258px !important;
        div.ult-tooltipster-content.ult-responsive {
                div#pv-hotspot-5 {
                width: 502px;
                height: 385px;
                background-image: url("/wp-content/themes/conall-child/images/chat-box.png");
                padding: 4% 3% 8% 7%;
                /* margin-top: 300px; */
                background-repeat: no-repeat;
                div.pv-hotspot-box-wrapper {
                    a.tooltip-close {
                        img.tooltip-close-x {

                        }
                    }
                    ul.pv-hotspot-list {
                    max-width: 100%;
                    margin-bottom: 0;
                    height: 100%;
                        li {

                        }
                    }
                }
            }
        }
    }
    div#hotspot-tooltip-hs-six {
        width: 100% !important;
        height: 275px;
        left: 0 !important;
        max-width: 100% !important;
        transform: translate(43px, -105px);
        top: 1402px !important;
        div.ult-tooltipster-content.ult-responsive {
            div#pv-hotspot-6 {
                width: 502px;
                height: 314px;
                background-image: url("/wp-content/themes/conall-child/images/chat-box.png");
                padding: 5% 0 8% 7%;
                background-repeat: no-repeat;
               /*  margin-top: 216px; */
                div.pv-hotspot-box-wrapper {
                    a.tooltip-close {
                        img.tooltip-close-x {

                        }
                    }
                    ul.pv-hotspot-list {
                        max-width: 100%;
                        margin-bottom: 0;
                        height: 100%;
                            li {

                            }
                    }
                }
            }
        }
    }
    div.ult-tooltipster-content {
        padding: 0 !important;
        p {
            margin: 0;
        }
        div.pv-hotspot-box {
            background-color: transparent;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
            margin-top: 0;
            background: transparent;
            border: none;
            padding: 8%;
            div.pv-hotspot-box-wrapper {
                padding-top: 3px;
                position: relative;
                width: 92%;
                a.tooltip-close {
                    position: absolute;
                    right: 0;
                    display: none;
                    img.tooltip-close-x {
                        height: 19px;
                        width: 19px;
                    }
                }
                h3.pv-h3tip-title {
                    sup.pv-sup {

                    }
                }
                ul.pv-list.hotspot {
                    li.pv-list-item.hotspot {
                        br.line-break {
                            display: none ;
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* PHARVARIS HCP 2024 HOTSPOTS END ******* */