@import "../base/colors";
@import '../base/fonts';

/* ******* PHARVARIS HCP 2024 FOOTER START ******* */

body.pharvaris {
    footer {
        div.edgtf-footer-inner {
            div.edgtf-footer-top-holder {
                background-color: $dk-grey;
                height: 60px;
                top: 0;
                div.edgtf-footer-top.edgtf-footer-top-alignment-left {
                    div.edgtf-container.pv-container {
                        div.edgtf-container-inner {
                            padding: 0;
                            width: 100% !important;
                            div.clearfix {
                                div.edgt_column.edgtf-column1 {
                                    margin: 0;
                                    display: flex;
                                    align-items: flex-start;
                                    div.edgtf-column-inner {
                                        width: 100%;
                                        div.widget_nav_menu {
                                            ul.menu {
                                                display: flex;
                                                justify-content: flex-start;
                                                li.menu-item {
                                                    @include bold($poppins);
                                                    font-size: 18px;
                                                    line-height: 26px;
                                                    padding: 20px 0;
                                                    a {
                                                        color: $white;
                                                        transition: all 0.25s ease-in-out;
                                                        text-decoration:none;
                                                        text-align:center;
                                                    }
                                                    a:hover {
                                                        color: $yellow;
                                                        transition: all 0.25s ease-in-out;
                                                    }
                                                }
                                                li:first-child {
                                                    padding-left: 0px;
                                                    padding-right: 5%;
                                                }
                                                li:last-child {
                                                    padding-right: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            div.edgtf-footer-bottom-holder {
                height: 155px;
                padding: 0;
                background-color: $dk-grey;
                div.edgtf-footer-bottom-holder-inner {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    div.edgtf-container.pv-container {
                        border-top: 1px solid $white;
                        div.edgtf-container-inner {
                            width: 100% !important;
                            div.edgtf-two-columns-50-50 {
                                div.edgtf-two-columns-50-50-inner {
                                    margin: 0;
                                    display: flex;
                                    height: 70px;
                                    align-items: flex-end;
                                    div.edgtf-column.left {
                                        width: 25%;
                                        float: unset;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: flex-end;
                                        height: 100%;
                                        padding-bottom: 3px;
                                        div.edgtf-column-inner.left {
                                            padding: 0;
                                            div.pv-footer-logo {
                                                display: flex;
                                                img.pv-footer-logo-svg {

                                                }
                                            }
                                        }
                                    }
                                    div.edgtf-column.right {
                                        width: 75%;
                                        float: unset;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: flex-end;
                                        align-items: flex-end;
                                        height: 100%;
                                        div.edgtf-column-inner.right {
                                            padding: 0;
                                            display: flex;
                                            justify-content: flex-end;
                                            align-items: flex-end;
                                            div.pv-copyright {
                                                @include medium($poppins);
                                                font-size: 16px;
                                                line-height: 26px;
                                                color: $white;
                                            }
                                        }
                                    }
                                    div.edgtf-column:not(:first-child) {
                                        margin-top: 0 !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1300px) {
    body.pharvaris {
        footer {
            div.edgtf-footer-inner {
                div.edgtf-footer-top-holder {
                    div.edgtf-footer-top.edgtf-footer-top-alignment-left {
                        div.edgtf-container.pv-container {
                            div.edgtf-container-inner {
                                div.clearfix {
                                    div.edgt_column.edgtf-column1 {
                                        div.edgtf-column-inner {
                                            div.widget_nav_menu {
                                                ul.menu {
                                                    li.menu-item {
                                                        padding: 20px 0;
                                                    }
                                                    li:first-child {
                                                        padding-left: 0px;
                                                        padding-right: 5%;
                                                    }
                                                    li:last-child {
                                                        padding-right: 0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                div.edgtf-footer-bottom-holder {
                    div.edgtf-footer-bottom-holder-inner {
                        div.edgtf-container.pv-container {
                            div.edgtf-container-inner {
                                div.edgtf-two-columns-50-50 {
                                    div.edgtf-two-columns-50-50-inner {
                                        height: 60px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1024px) {
    body.pharvaris {
        footer {
            div.edgtf-footer-inner {
                div.edgtf-footer-top-holder {
                    div.edgtf-footer-top.edgtf-footer-top-alignment-left {
                        div.edgtf-container.pv-container {
                            div.edgtf-container-inner {
                                div.clearfix {
                                    div.edgt_column.edgtf-column1 {
                                        width: 100%;
                                        div.edgtf-column-inner {
                                            width: 100%;
                                            div.widget_nav_menu {
                                                width: 100%;
                                                ul.menu {

                                                    li.menu-item {
                                                        padding: 20px 0;
                                                    }
                                                    li:first-child {
                                                        padding-left: 0px;
                                                        padding-right: 5%;
                                                    }
                                                    li:last-child {
                                                        padding-right: 0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                div.edgtf-footer-bottom-holder {
                    div.edgtf-footer-bottom-holder-inner {
                        div.edgtf-container.pv-container {
                            div.edgtf-container-inner {
                                div.edgtf-two-columns-50-50 {
                                    div.edgtf-two-columns-50-50-inner {
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 768px) {
    body.pharvaris {
        footer {
            div.edgtf-footer-inner {
                div.edgtf-footer-top-holder {
                    div.edgtf-footer-top.edgtf-footer-top-alignment-left {
                        div.edgtf-container.pv-container {
                            div.edgtf-container-inner {
                                div.clearfix {
                                    div.edgt_column.edgtf-column1 {
                                        width: 100%;
                                        div.edgtf-column-inner {
                                            width: 100%;
                                            div.widget_nav_menu {
                                                width: 100%;
                                                ul.menu {

                                                    li.menu-item {
                                                        padding: 20px 0;
                                                    }
                                                    li:first-child {
                                                        padding-left: 0px;
                                                        padding-right: 5%;
                                                    }
                                                    li:last-child {
                                                        padding-right: 0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                div.edgtf-footer-bottom-holder {
                    div.edgtf-footer-bottom-holder-inner {
                        div.edgtf-container.pv-container {
                            div.edgtf-container-inner {
                                div.edgtf-two-columns-50-50 {
                                    div.edgtf-two-columns-50-50-inner {
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* PHARVARIS HCP 2024 FOOTER END ******* */