@import "../base/colors";
@import '../base/fonts';

/* ******* PHARVARIS HCP 2024 HEADER START ******* */

div.edgtf-logo-wrapper {
    a {
        img.edgtf-normal-logo {
            height: 25px;
        }
    }
}
nav.edgtf-main-menu > ul > li > a {
    span.item_text {
        text-transform: uppercase;
        color: $black;
        letter-spacing: -0.5px;
    }
}

@media all and (max-width: 1024px) {
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* PHARVARIS HCP 2024 HEADER END ******* */