@import "../base/colors";
@import '../base/fonts';

/* ******* PHARVARIS HCP 2024 LAYOUT START ******* */

/* ************ CSS RESET START ************ */
/* Use a more-intuitive box-sizing model. */
*, *::before, *::after {
  box-sizing: border-box;
}
/* Remove default margin */
* {
  margin: 0;
}
/* Typographic tweaks! Add accessible line-height & improve text rendering */
body {
    @include regular($poppins);
    font-size: 18px;
    line-height: 26px;
    -webkit-font-smoothing: antialiased;
    top: 0px;
    position: relative;
    color: $black;
    padding-bottom: 239px !important;
    background-color: $dk-grey;
    div.edgtf-wrapper {
        div.edgtf-wrapper-inner {
            div.edgtf-content {
                margin-bottom: 0 !important;
            }
        }
    }
}
/* Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}
sup {
    bottom: 1ex;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* Create a root stacking context */
#root, #__next {
  isolation: isolate;
}
/* ************ CSS RESET END ************ */

body.pharvaris {
    div.pv-row {
        div.edgtf-full-section-inner {
            max-width: 1436px;
            width: 80%;
            margin: 0 auto;
        }
    }
    div.pv-col1 {

    }
    div.pv-col2 {

    }
    div.pv-col3 {

    }
    div.pv-col4 {

    }
    div.pv-hero {

    }
    div.pv-container {
        max-width: 1436px;
        width: 85%;
        padding: 0;
        margin-right: auto;
        margin-left: auto;
        background-color: unset;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: $poppins, sans-serif;
        margin: 0;
        letter-spacing: 0;
    }
    h1, h1.pv-h1 {
        @include bold($poppins);
        font-size: 30px;
        line-height: 40px;
        &.blue {
            color: $blue;
        }
        &.center {
            text-align: center;
        }
    }
    h2, h2.pv-h2 {
        @include bold($poppins);
        font-size: 18px;
        line-height: 26px;
        &.center {
            text-align: center;
        }
        &.white {
            color: $white;
            font-size: 30px;
            line-height: 30px;
        }
    }
    h3, h3.pv-h3 {
        @include bold($poppins);
        font-size: 30px;
        line-height: 50px;
        &.red {
            color: $red;
        }
        &.center {
            text-align: center;
        }
    }
    h4, h4.pv-h4 {

    }
    h4.h4-refs.left {
        @include bold($poppins);
        font-size: 26px;
        line-height: 34px;
        text-transform: uppercase;
        text-align: left;
        color:  $white;
    }
    h5, h5.pv-h5 {
        @include bold($poppins);
        font-size: 26px;
        line-height: 26px;
        color: $black;
    }
    h6, h6.pv-h6 {

    }
    p, p.pv-p {
        @include regular($poppins);
        font-size: 18px;
        line-height: 26px;
        color: $black;
        margin: 0;
        &.center {
            text-align: center;
        }
        &.italic {
            font-style: italic;
        }
    }
    p.pv-refs {
        @include regular($poppins);
        color: $white;
        font-size: 16px;
        line-height: 26px;
    }
    ul, ul.pv-ul
    li, li.pv-p {

    }
    p.pv-p.center {
        text-align: center !important
    }
    div.pv-page-heading {
        width: 100%;
        &.center {
            text-align: center;
        }
    }
    div.pv-paragraph {

    }
    br.line-break {
        display: block;
    }
    span.no-wrap {
        white-space: nowrap;
    }
    span.strong {
        font-weight: bold;
    }
    div.edgtf-content {

    }
}

@media all and (max-width: 1500px) {
}
@media all and (max-width: 1300px) {
}
@media all and (max-width: 1024px) {
    body.pharvaris {
        h1, h2, h3, h4, h5, h6 {
        }
        div.pv-container {
            max-width: 768px;
            width: 85%;
        }
        h1, h1.pv-h1 {
            &.blue {
            }
            &.center {
            }
        }
        h2, h2.pv-h2 {

        }
        h3, h3.pv-h3 {

        }
        h4, h4.pv-h4 {

        }
        h5, h5.pv-h5 {

        }
        h6, h6.pv-h6 {

        }
        p, p.pv-p {

        }
        li, li.pv-p {

        }
        /* div.edgtf-content {
            margin-top: 40px !important;
        } */
    }
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* PHARVARIS HCP 2024 LAYOUT END ******* */