@import "../base/colors";
@import '../base/fonts';

/* ******* PHARVARIS HCP 2024 NAVIGATION START ******* */

body.pharvaris {
    div.edgtf-position-right-inner {
        nav.edgtf-main-menu {
            display: flex;
            ul {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                li.menu-item.menu-item-type-post_type.menu-item-object-page {
                    float: unset;
                    display: flex;
                    padding: 0 4.5%;
                    a {
                        display: flex;
                        justify-content: center;
                        @include medium($poppins);
                        font-size: 18px;
                        line-height: 18px;
                        text-transform: uppercase;
                        color: $white;
                        letter-spacing: 0;
                        span.item_outer {
                            top: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 0;
                            -webkit-transform: translateY(0);
                            -moz-transform: translateY(0);
                            transform: translateY(0);
                            span.item_text {
                                display: flex;
                            }
                        }
                    }
                }
                li.menu-item.menu-item-type-post_type.menu-item-object-page:first-child {
                    padding-left: 0;
                }
                li.menu-item.menu-item-type-post_type.menu-item-object-page:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}
@media all and (max-width: 1500px) {
    body.pharvaris {
        div.edgtf-position-right-inner {
            nav.edgtf-main-menu {
                ul {
                    li.menu-item.menu-item-type-post_type.menu-item-object-page {
                        a {
                            font-size: 15px;
                            line-height: 15px;
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: 1300px) {
    body.pharvaris {
        div.edgtf-position-right-inner {
            nav.edgtf-main-menu {
                ul {
                    li.menu-item.menu-item-type-post_type.menu-item-object-page {
                        padding: 0 3%;
                        a {
                            font-size: 13px;
                            line-height: 13px;
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: 1200px) {
}
@media all and (max-width: 1100px) {
}

@media all and (max-width: 1024px) {
    body.pharvaris {
        div.edgtf-position-right-inner {
            nav.edgtf-main-menu {
                ul {
                    li.menu-item.menu-item-type-post_type.menu-item-object-page {
                        padding: 0 2%;
                        a {
                            font-size: 14px;
                            line-height: 14px;
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 890px) {
        body.pharvaris {
        div.edgtf-position-right-inner {
            nav.edgtf-main-menu {
                ul {
                    li.menu-item.menu-item-type-post_type.menu-item-object-page {
                        padding: 0 10px;
                        a {
                            font-size: 12px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: 768px) {
    body.pharvaris {
        div.edgtf-mobile-header-inner {
            nav.edgtf-mobile-nav {
                background-color: $dk-grey;
                border: none;
                padding-bottom: 35px;
                div.edgtf-grid {
                    ul {
                        li.menu-item.menu-item-type-post_type.menu-item-object-page {
                            a {
                                color: $white;
                                text-transform: uppercase;
                                font-size: 15px;
                                line-height: 21px;
                                border-bottom: 1px solid $white;
                                padding: 25px 0;
                                span {

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* PHARVARIS HCP 2024 NAVIGATION END ******* */