@import 'fonts';
@import "colors";

/* ******* PHARVARIS HCP 2024 HOVERS START ******* */


.edgtf-btn.edgtf-btn-solid:not(.edgtf-btn-custom-border-hover):hover {
    background-color: $white !important;
    border-color: $yellow !important;
    color: $black !important;
    transition: all 0.5s ease-in-out;
}
@media all and (max-width: 1024px) {
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* PHARVARIS HCP 2024 HOVERS END ******* */