@import "../base/colors";
@import '../base/fonts';

/* ******* PHARVARIS HCP 2024 HAE OVERVIEW PAGE START ******* */

body.haeoverview-page {
    div.edgtf-wrapper {
        div.edgtf-wrapper-inner {
            div.edgtf-content {
                 div.edgtf-content-inner {
                    div.wpb-content-wrapper {
                        div#overview-cta-row {
                        }
                        div#overview-hero-row {
                            div.edgtf-full-section-inner {
                                max-width: 100%;
                                width: 100%;
                                div#overview-hero-image-col {
                                    div.vc_column-inner {
                                        padding: 0;
                                        div.wpb_wrapper {
                                            div#hero-background-image {
                                                text-align: center;
                                                figure.wpb_wrapper {
                                                    width: 100%;
                                                    div.vc_single_image-wrapper {
                                                        width: 100%;
                                                        img {
                                                            width: 100%;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                div.pv-row.inner {
                                    display: flex;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    margin: 0;
                                    div.edgtf-full-section-inner {
                                        display: flex;
                                        flex-direction: column;
                                        width: 80%;
                                        max-width: 1230px;
                                        margin: 0 auto;
                                        justify-content: center;
                                        align-items: center;
                                        padding-bottom: 0;
                                        padding-top: 6%;
                                        div.pv-col1.center {
                                            float: unset;
                                            &.top {
                                                max-width: 910px;
                                            }
                                            div#hero-logo {
                                                text-align: center;
                                                margin-bottom: 5.5% !important;
                                                figure.wpb_wrapper {
                                                    div.vc_single_image-wrapper {
                                                        img.vc_single_image-img {

                                                        }
                                                    }
                                                }
                                            }
                                            div.hero-subheading {
                                                h2.pv-h2 {
                                                    font-size: 1.55vw;
                                                    line-height: 2.1vw;
                                                    sup.pv-sup {
                                                        font-size: 65%;
                                                        bottom: .8ex;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        div#overview-hotspot-row {
                            height: 1770px;
                            background-image: url("/wp-content/themes/conall-child/images/hotspot-background-1920x1772.jpg");
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center center;
                            div.edgtf-full-section-inner {
                                max-width: 1430px;

                                div.pv-col1 {
                                    div.vc_column-inner {
                                        padding: 0;
                                        div.wpb_wrapper {
                                            div#hotspot-heading {
                                                div.wpb_wrapper {
                                                    h3.pv-h3.center.red {
                                                        margin-bottom: 1%;
                                                        sup.pv-sup {
                                                            font-size: 65%;
                                                            bottom: .8ex;
                                                        }
                                                    }
                                                }
                                            }
                                            div.pv-paragraph {
                                                div.wpb_wrapper {
                                                    p.pv-p.center.italic {

                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &.top {
                                        transform: translateY(100px);
                                    }
                                    &.bottom {
                                        div.pv-woman-hotspot {
                                            transform: translateX(100px);
                                        }
                                    }
                                }
                            }


                        }
                        div#hae-attacks-row {
                            /* height: 1356px; */
                            background-image: url("/wp-content/themes/conall-child/images/hae-attacks-bkgnd-top-1920x820.svg");
                            background-repeat: no-repeat;
                            background-size: 100%;
                            background-position: top;
                            transform: translateY(-40px);
                            padding-top: 120px;
                            div.edgtf-full-section-inner {
                                div.pv-col1.top {
                                    margin-bottom: 0;
                                    div.vc_column-inner {
                                        div.wpb_wrapper {
                                            div.hae-subheading {
                                                div.wpb_wrapper {
                                                    h3.pv-h3.center.form {
                                                        sup.pv-sup {
                                                            font-size: 65%;
                                                            bottom: .9ex;
                                                        }
                                                    }
                                                }
                                            }
                                            div.hae-heading-logo {
                                                text-align: center;
                                                figure.wpb_wrapper.vc_figure {
                                                    div.vc_single_image-wrapper {
                                                        img.vc_single_image-img {

                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                div.pv-col1.slider {
                                    padding-top: 0;
                                    div.vc_column-inner {
                                        div.wpb_wrapper {

                                        }
                                    }
                                }
                            }
                        }
                        div#overview-bradykinin-row {
                            padding-top: 50px;
                            /* padding-bottom: 20%; */
                            div.edgtf-full-section-inner {
                                max-width: 1436px;
                                width: 80%;
                                margin: 0 auto;
                                div.pv-col1.top {
                                    padding-top: 25px;
                                    padding-bottom: 25px;
                                    div.vc_column-inner {
                                        div.wpb_wrapper {
                                            div.hae-subheading {
                                                div.wpb_wrapper {
                                                    h3.pv-h3.center.form {
                                                        sup.pv-sup {
                                                            font-size: 65%;
                                                            bottom: .9ex;
                                                        }
                                                    }
                                                }
                                            }
                                            div.hae-heading-logo {
                                                text-align: center;
                                                figure.wpb_wrapper.vc_figure {
                                                    div.vc_single_image-wrapper {
                                                        img.vc_single_image-img {

                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                div.pv-col1.bottom {
                                    div.vc_column-inner {
                                        div.wpb_wrapper {
                                            h3.pv-h3.center {
                                                text-transform: uppercase;
                                                sup.pv-sup {
                                                    font-size: 65%;
                                                }
                                            }
                                            p.pv-p.center {
                                                font-size: 20px;
                                                line-height: 30px;
                                                padding-top: 1%;
                                                padding-bottom: 5%;
                                                max-width: 980px;
                                                margin: 0 auto;
                                                sup.pv-sup {
                                                    font-size: 65%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        div.section-background {
                            position: relative;
                            height: 900px;
                            background-image: url("/wp-content/themes/conall-child/images/overview-section-bkgnd-yellow-1920x420.svg");
                            background-repeat: no-repeat;
                            background-size: 100%;
                            background-position: center bottom;
                            visibility: visible;
                            bottom: -2px;
                            div#overview-banner-section {
                                z-index: 103;
                                transform: translateY(-10px);
                                margin-bottom: -60px !important;
                                div.edgtf-full-section-inner {
                                    div.pv-col1.banner-col {
                                        div.banner-wrapper {
                                            div.wpb_wrapper {
                                                div.banner-img-container {
                                                    h2.pv-h2.center.white {

                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            div#overview-facts-section {
                                div.edgtf-full-section-inner {
                                    div.pv-col1.ripple-image {
                                        div.vc_column-inner {
                                            div.wpb_wrapper {
                                                div.hae-white-box-image {
                                                    figure.wpb_wrapper {
                                                        div.vc_single_image-wrapper {
                                                            img.vc_single_image-img {

                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    div.pv-col1.ripple-image.top {
                                        div#hae-white-box-top {
                                            img.vc_single_image-img {

                                            }
                                        }
                                    }
                                    div.pv-col1.ripple-image.bottom {
                                        div#hae-white-box-bottom {
                                            img.vc_single_image-img {

                                            }
                                        }
                                    }
                                    div.pv-col1.facts-icon-col {
                                        div.wpb_wrapper {
                                            div.wpb_text_column.wpb_content_element {
                                                padding-top: 7%;
                                                padding-bottom: 4%;
                                                div.wpb_wrapper {
                                                    div#hae-facts-icon-row {
                                                        div.iconrow {
                                                            div.hae-image-wrapper {
                                                                height: 150px;
                                                                img {

                                                                }
                                                            }
                                                            div.hae-copy-wrapper {
                                                                p.pv-p {
                                                                }
                                                            }
                                                        }
                                                        div#icon-row1 {
                                                            img.hae-icon.one {

                                                            }
                                                            p.pv-p {

                                                            }
                                                        }
                                                        div#icon-row2 {
                                                            img.hae-icon.two {

                                                            }
                                                            p.pv-p {

                                                            }
                                                        }
                                                        div#icon-row3 {
                                                            img.hae-icon.three {

                                                            }
                                                            p.pv-p {

                                                            }
                                                        }
                                                        div#icon-row4 {
                                                            img.hae-icon.four {

                                                            }
                                                            p.pv-p {

                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            a.pv-btn {
                                                margin-bottom: 50px;
                                            }
                                        }
                                    }
                                }
                            }

                        }
                        div#overview-refs-section {
                            div.refs-title {
                                h4.h4-refs.left {

                                }
                            }
                            div.refs-paragraph {
                                p.pv-refs {

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1024px) {
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* PHARVARIS HCP 2024 HAE OVERVIEW PAGE END ******* */