@import "../base/colors";
@import '../base/fonts';

/* ******* PHARVARIS HCP 2024 PRIVACY POLICY PAGE START ******* */

body.privacypolicy-page {
    div.edgtf-wrapper {
        div.edgtf-wrapper-inner {
            div.edgtf-content {
                div.edgtf-content-inner {
                    div.wpb-content-wrapper {
                        div#privacy-hero-row {
                            top: -150px;
                            div.edgtf-full-section-inner {
                                max-width: 100%;
                                width: 100%;
                                div#privacy-hero-image-col {
                                    div.vc_column-inner {
                                        padding: 0;
                                        div.wpb_wrapper {
                                            div#hero-background-image {
                                                figure.wpb_wrapper {
                                                    width: 100%;
                                                    div.vc_single_image-wrapper {
                                                        width: 100%;
                                                        img {
                                                            width: 100%;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                div.pv-row.inner {
                                    display: flex;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    margin: 0;
                                    div.edgtf-full-section-inner {
                                        display: flex;
                                        flex-direction: column;
                                        width: 80%;
                                        max-width: 1230px;
                                        margin: 0 auto;
                                        justify-content: center;
                                        align-items: center;
                                        padding-bottom: 0;
                                        padding-top: 6%;
                                        div.pv-col1.center {
                                            float: unset;
                                            &.top {
                                                max-width: 910px;
                                            }
                                            div.hero-subheading {
                                                padding-top: 35px ;
                                                h2.pv-h2 {
                                                    font-size: 1.55vw;
                                                    line-height: 2.1vw;
                                                    sup.pv-sup {
                                                        font-size: 65%;
                                                        bottom: .8ex;
                                                    }
                                                }
                                            }

                                            div#hero-logo {
                                                text-align: center;
                                                margin-bottom: 5.5% !important;
                                                figure.wpb_wrapper {
                                                    div.vc_single_image-wrapper {
                                                        img.vc_single_image-img {

                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        div#privacy-content {
                            margin-bottom: 0 !important;
                            top: -85px;
                            h1.pv-h1.policies {
                                padding-bottom: 20px;
                            }
                            p.pv-p.policies {

                            }
                            p.pv-p.policies.italic {

                            }
                            ul.pv-list {
                                list-style-position: outside;
                                margin: 0;
                                li.pv-list-item {
                                    @include regular($poppins);
                                    color: $black;
                                    font-size: 18px;
                                    line-height: 26px;
                                    text-align: left;
                                    padding-left: 0;
                                    margin-left: 22px;
                                    padding-bottom: 20px;
                                    sup.pv-sup {

                                    }
                                }
                                li::marker {
                                    color: $red;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1024px) {
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* PHARVARIS HCP 2024 PRIVACY POLICY PAGE END ******* */